<mat-tab-group mat-align-tabs="center" class="content">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_pizza</mat-icon>
      Pizzas
    </ng-template>
    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
      <ng-container style="margin: 0.5%;">

        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray btn-add">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>


        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza mat-elevation-z4" fxFlex="0 1 calc(33.3% - 22px)"
          fxFlex.lt-md="0 1 calc(50% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <div class="img-pizza">
            <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">
          </div>

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>
        
        
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_bar</mat-icon>
      Bebidas
    </ng-template>
    

    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
      <ng-container style="margin: 0.5%;">

        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>




        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>




        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>






        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>






        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>






        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>






        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>





        <mat-card class="mat-card-bebida mat-elevation-z4" fxFlex="0 1 calc(20% - 22px)"
          fxFlex.lt-md="0 1 calc(33.3% - 22px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <div class="img-bebida">
            <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">
          </div>
          
          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-yellow color-gray">
              <mat-icon class="color-pink">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
