<!-- <button mat-raised-button color="primary"
              matBadge="8" matBadgePosition="before" matBadgeColor="accent">
              Action
            </button> -->
            <!-- <button mat-button>SHARE</button> -->

<mat-tab-group mat-align-tabs="center" class="content">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_pizza</mat-icon>
      Pizzas
    </ng-template>
    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
      <ng-container style="margin: 0.5%;">

        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-pizza" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar pizza-header-image"></div>
            <mat-card-title>Calabresa</mat-card-title>
            <mat-card-subtitle>Calabresa, Cebola e Mussarela</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/calabresa.jpg" 
            alt="Pizza Sabor Calabresa">

          <p class="price">
            R$29,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>
        
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_bar</mat-icon>
      Bebidas
    </ng-template>
    

    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
      <ng-container style="margin: 0.5%;">

        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>




        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>




        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>



        <mat-card class="mat-card-bebida" fxFlex="0 1 calc(20% - 11px)"
          fxFlex.lt-md="0 1 calc(33.3% - 11px)"
          fxFlex.lt-sm="100%">

          <mat-card-header>
            <div mat-card-avatar class="avatar bebida-header-image"></div>
            <mat-card-title>Coca-Cola</mat-card-title>
            <mat-card-subtitle>2 Litros</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="./../../../../assets/card/coca-cola.jpg" 
            alt="Bebida Coca-Cola">

          <p class="price">
            R$4,90
          </p>

          <mat-card-actions class="btn">
            <button mat-raised-button class="bg-pink color-white">
              <mat-icon class="color-white">add_circle</mat-icon>
              Adicionar ao Pedido
            </button>
          </mat-card-actions>

        </mat-card>
        
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
