<div class="mat-elevation-z4">
  <div class="footer">
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-store icon-title"></i>
          Sobre
        </ng-template>
        
        <div class="footer-content">
          <div>
            Temos o compromisso diário com a satisfação e a felicidade de nossos clientes.
            Primamos pela excelência em tudo o que fazemos e priorizamos a segurança
            alimentar e a qualidade de nossos produtos. 
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-map-marker-alt icon-title"></i>
          Localização
        </ng-template>
        <div class="footer-content">
          <div>
            Avenida Nome Nome, 999 - Rua Rua <br>
            99999-000 <br>
            Cidade - Estado
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-laptop-code icon-title"></i>
          Desenvolvedor
        </ng-template>
        <div class="footer-content">
          <div>
            <i class="fab fa-github"></i><a href="" class="link-a">pedrorivald</a>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  <div class="redes mat-elevation-z4">
    <p>
      <a href=""><i class="fab fa-facebook"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-whatsapp-square"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>
