<div class="footer mat-elevation-z4">
  <div class="redes">
    <p>
      <i class="fab fa-facebook color-pink"></i>
    </p>

    <p>
      <i class="fab fa-whatsapp color-pink"></i>
    </p>

    <p>
      <i class="fab fa-instagram color-pink"></i>
    </p>
  </div>
  <div class="sobre">
    <p>
      <i class="fas fa-store color-pink"></i>
    </p>
  </div>
  <div class="local">
    <p>
      <i class="fas fa-map-marker-alt color-pink"></i>
    </p>
  </div>
  <div class="dev">
    <p>
      <i class="fas fa-laptop-code color-pink"></i>
    </p>
    <p>
      <i class="fab fa-github color-pink"></i>
    </p>
  </div>
</div>
