/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-white {
  color: #fff;
}

.color-pink{
  color: #ff033c;
}

.bg-pink {
  background: #ff033c;
}

.bg-yellow {
  background: #ffff8c;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff033c;
}